@import '~bootstrap';

@import '~leaflet/dist/leaflet.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@1,400;1,700&display=swap');


$text-muted: #eeeeee;

body{
  font-family: 'Lato', Arial, SansSerif, serif;
}

.container-fluid {
  padding: 0;
}

.btn-inversed{
  background-color: #fff;
  color: #ba1b1b;
  font-size: 1.5rem;

  &:hover{
    color: #ba1b1b;
    background-color: #eee;
  }
}

header, footer {
  background-color: #07549a;
  min-height: 100px;

  .header__logo{
    max-width: 300px;
  }

  h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, SansSerif, serif;
    font-weight: 700;
    font-style: italic;
  }

  .header__headline {
    span.negative {
      margin-left: 10px;
      padding: 10px 20px 0 10px;
      background-color: white;
      color: #ba1b1b;
    }
  }
}


.map__container {
  background-color: lightgray;
}

.form__section{

  color: #07549a;

  form{
    color: white;
    font-family: 'Lato', Arial, SansSerif, serif;
    font-size: 1.5rem;
    font-style: italic;
  }

  h2{
    font-family: 'Roboto', Arial, SansSerif, serif;
    text-transform: uppercase;
  }

  p{
    font-size: 1.5rem;
  }

  .form__container {
    background-color: #ba1b1b;
    border-radius: 5px;
    color: white;


  }


}

footer {

  .footer__logo{
    max-width: 300px;
  }

  p{
    color:#eeeeee;
  }

  .footer__licence{
    max-width: 100px;
  }
}


